@model GrecosQuestionnaire.Models.QuestionModel

@{
    ViewBag.Title = "Edit the question";
}

    <h2>Edit the question</h2>
@Html.ActionLink("Return to the question list", "Index", "Question")

@using (Html.BeginForm("Edit", "Question", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Id)
    @Html.Partial("_Create", Model)
}