@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<GrecosQuestionnaire.Models.QuestionItemItem>

@{
    ViewBag.Title = "Elements of the item question";
}

    <div class="container">

        <div class="row">
            <div class="col-md-8"><h2>Pytania</h2></div>
            <div class="col-md-4" style="padding-top: 22px;">
                <a href="@Url.Action("Create", "QuestionItemItem", new { questionItemId = ViewBag.QuestionItemId })" role="button" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add a new question item
                </a>
            </div>
        </div>

        @Html.ActionLink("Return to the question list", "Index", "QuestionItem")

        @{
            var questionItemId = ViewBag.QuestionItemId;
        }
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Order</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.QuestionItemType
                        </td>
                        <td>
                            @item.ItemOrder
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("Edit", "QuestionItemItem", new { id = item.Id }, null)" title="Edit">
                                Edit
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-primary" href="@Url.Action("Delete", "QuestionItemItem", new { id = item.Id }, null)" title="Delete">
                                Delete
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, questionItemId, f = ViewBag.f }))

        Elementów: @ViewBag.Count

    </div>