@using System.Globalization
@using GrecosQuestionnaire.Models
@model IEnumerable<GrecosQuestionnaire.Models.Question>

@{
    ViewBag.Title = "Ankieta";
}


<div class="col-md-3"></div>

@{
    int page = int.Parse(ViewData["page"].ToString());
    int hotel = ViewBag.Hotel;
}

<div class="col-md-8" style="margin-top: 40px;">
    @*<div style="text-align: center; ">

            <span class="badge @(page != 1 ? "gray": string.Empty)">1</span>
            <span class="badge @(page != 2 ? "gray": string.Empty)">2</span>
            <span class="badge @(page != 3 ? "gray": string.Empty)">3</span>
            <span class="badge @(page != 4 ? "gray": string.Empty)">4</span>
            <span class="badge @(page != 5 ? "gray": string.Empty)">5</span>
            <span class="badge @(page != 6 ? "gray": string.Empty)">6</span>
        </div>*@

    @using (Html.BeginForm("Index", "Survey", FormMethod.Post, new { role = "form", @style = "color: #005EA8" }))
    {
        @Html.Hidden("page", ViewData["page"])
        @Html.Hidden("hotel", new { hotel })

        /*Zliczabie petli*/


        foreach (var question in Model)
        {

            if (question.IsHeader)
            {
                <h3><span class="custom-control-label">@question.Title</span></h3>
                continue;
            }
            <div class="form-group @question.Class" style="margin-top: 25px;">
                @Html.Label(question.Title, question.Title, new { @class = "control-label", @style = "font-weight: bold ;color: #005EA8; margin-bottom: 0; font-size: 1.1em;" })

                @if (!string.IsNullOrEmpty(question.Subtitle))
                {
                    <br />
                    @Html.Label(question.Subtitle, question.Subtitle, new { @class = "control-label small", @style = "color: gray; margin-top: -5px; margin-bottom: 0;" })
                }

            <div style="margin-top: 6px;">
                @{ int i = 0;}
                @foreach (var item in question.Items)
                {
                    if (item.Parts == 0)
                    {
                        item.Parts = 7;
                    }

                    if (item.SingleSpace == 0)
                    {
                        item.SingleSpace = 2;
                    }

                    string itemValue = ViewData[@item.Id.ToString(CultureInfo.InvariantCulture)] != null ? ViewData[@item.Id.ToString(CultureInfo.InvariantCulture)].ToString() : string.Empty;



                    if (item.QuestionItemType == QuestionItemType.Rate5)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        <div class="col-md-@item.Parts col-xs-@item.Parts" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "")">
                            <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;">
                                <div class="col-md-2 col-xs-2" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 0) ? @item.Items.Split('\n')[0] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0; padding-left: 3px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 1) ? @item.Items.Split('\n')[1] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 2) ? @item.Items.Split('\n')[2] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 3) ? @item.Items.Split('\n')[3] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 4) ? @item.Items.Split('\n')[4] : string.Empty)
                                </div>
                            </div>
                            <div class="row" style="text-align: center; padding-left: 5px;">
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test1" value="1"
                                           @(itemValue == "1" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test2" value="2"
                                           @(itemValue == "2" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test3" value="3"
                                           @(itemValue == "3" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test4" value="4"
                                           @(itemValue == "4" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test5" value="5"
                                           @(itemValue == "5" ? "checked='checked'" : string.Empty) />

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Rate6)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        <div class="col-md-@item.Parts col-xs-@item.Parts" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "")">
                            <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;">
                                <div class="col-md-2 col-xs-2" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 0) ? @item.Items.Split('\n')[0] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0; padding-left: 3px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 1) ? @item.Items.Split('\n')[1] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 2) ? @item.Items.Split('\n')[2] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 3) ? @item.Items.Split('\n')[3] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 4) ? @item.Items.Split('\n')[4] : string.Empty)
                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 5) ? @item.Items.Split('\n')[5] : string.Empty)
                                </div>
                            </div>
                            <div class="row" style="text-align: center; padding-left: 5px;">
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test1" value="1"
                                           @(itemValue == "1" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test2" value="2"
                                           @(itemValue == "2" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test3" value="3"
                                           @(itemValue == "3" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test4" value="4"
                                           @(itemValue == "4" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test5" value="5"
                                           @(itemValue == "5" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-2 col-xs-2" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test6" value="6"
                                           @(itemValue == "6" ? "checked='checked'" : string.Empty) />

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Rate7)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        <div class="col-md-@item.Parts col-xs-@item.Parts" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "")">
                            <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;">
                                <div class="col-md-1 col-xs-1" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 0) ? @item.Items.Split('\n')[0] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0; padding-left: 3px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 1) ? @item.Items.Split('\n')[1] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 2) ? @item.Items.Split('\n')[2] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 3) ? @item.Items.Split('\n')[3] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 4) ? @item.Items.Split('\n')[4] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 5) ? @item.Items.Split('\n')[5] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 6) ? @item.Items.Split('\n')[6] : string.Empty)
                                </div>
                            </div>
                            <div class="row" style="text-align: center; padding-left: 5px;">
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test1" value="1"
                                           @(itemValue == "1" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test2" value="2"
                                           @(itemValue == "2" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test3" value="3"
                                           @(itemValue == "3" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test4" value="4"
                                           @(itemValue == "4" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test5" value="5"
                                           @(itemValue == "5" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test6" value="6"
                                           @(itemValue == "6" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test7" value="7"
                                           @(itemValue == "7" ? "checked='checked'" : string.Empty) />

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Rate2)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        <div class="col-md-@item.Parts col-xs-@item.Parts" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "")">
                            <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;   ">
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 0) ? @item.Items.Split('\n')[0] : string.Empty)
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0; padding-left: 3px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 1) ? @item.Items.Split('\n')[1] : string.Empty)
                                </div>


                            </div>
                            <div class="row" style="text-align: center; padding-left: 5px;">
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test1" value="1"
                                           @(itemValue == "1" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test2" value="2"
                                           @(itemValue == "2" ? "checked='checked'" : string.Empty) />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Label)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="font-weight: bold; padding-top: 20px; padding-bottom: 20px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 20px")">
                                @item.Title
                                <br />
                            </div>
                        }

                        <div class="clearfix"></div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Rate4)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        <div class="col-md-@item.Parts col-xs-@item.Parts" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "")">
                            <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;   ">
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 0) ? @item.Items.Split('\n')[0] : string.Empty)
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0; padding-left: 3px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 1) ? @item.Items.Split('\n')[1] : string.Empty)
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 2) ? @item.Items.Split('\n')[2] : string.Empty)
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 3) ? @item.Items.Split('\n')[3] : string.Empty)
                                </div>

                            </div>
                            <div class="row" style="text-align: center; padding-left: 5px;">
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test1" value="1"
                                           @(itemValue == "1" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test2" value="2"
                                           @(itemValue == "2" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test3" value="3"
                                           @(itemValue == "3" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test4" value="4"
                                           @(itemValue == "4" ? "checked='checked'" : string.Empty) />

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Rate3)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        <div class="col-md-@item.Parts col-xs-@item.Parts" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "")">

                            <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;   ">
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 0) ? @item.Items.Split('\n')[0] : string.Empty)
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0 ; padding-left: 3px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 1) ? @item.Items.Split('\n')[1] : string.Empty)
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 2) ? @item.Items.Split('\n')[2] : string.Empty)
                                </div>
                            </div>

                            <div class="row" style="text-align: center; padding-left: 5px; ">
                                <span class="field-validation-valid" data-valmsg-for="@(item.Id + "1")" data-valmsg-replace="true"></span>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="@(item.Id + "1")" value="1"
                                           @(itemValue == "1" ? "checked='checked'" : string.Empty) />
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="@(item.Id + "2")" value="2"
                                           @(itemValue == "2" ? "checked='checked'" : string.Empty) />
                                </div>
                                <div class="col-md-@item.SingleSpace col-xs-@item.SingleSpace" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="@(item.Id + "3")" value="3"
                                           @(itemValue == "3" ? "checked='checked'" : string.Empty) />
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.ComboList)
                    {
                        if (item.Parts == 0)
                        {
                            item.Parts = 8;
                        }

                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        foreach (var line in item.Items.Split('\n'))
                        {
                            if (line.Contains("$"))
                            {
                                var newLine = line.Split('$')[0];
                                var cssClass = line.Split('$')[1];

                                <label class="radio-inline">
                                    <input class="@cssClass" type="radio" name="@item.Id" value="@newLine"
                                           @(itemValue.Contains(newLine) ? "checked='checked'" : string.Empty) />
                                    @newLine
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="@item.Id" value="@line"
                                           @(itemValue.Contains(line) ? "checked='checked'" : string.Empty) />
                                    @line
                                </label>
                            }
                        }
                    }
                    else if (item.QuestionItemType == QuestionItemType.CheckList)
                    {
                        <div class="form-group row">

                            @if (!string.IsNullOrEmpty(item.Title))
                            {
                                <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 20px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                    @item.Title
                                </div>
                            }

                            <div class="col-sm-7">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        Select <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">

                                        @foreach (var line in item.Items.Split('\n'))
                                        {
                                            <li>
                                                <div class="checkbox" style="margin-top: 4px; padding-left: 50px;">
                                                    @if (line.Contains("[]"))
                                                    {
                                                        string newline = line.Replace("[]", "");

                                                        <label>
                                                            <input type="checkbox" name="@item.Id" value="@newline"
                                                                   @(itemValue.Contains(newline) ? "checked='checked'" : string.Empty) />
                                                            @newline
                                                        </label>
                                                        <input type="text" name="@(item.Id+"t")" value="@ViewData[(item.Id+"t").ToString(CultureInfo.InvariantCulture)]" />
                                                    }
                                                    else
                                                    {
                                                        <label>
                                                            <input type="checkbox" name="@item.Id" value="@line"
                                                                   @(itemValue.Contains(line) ? "checked='checked'" : string.Empty) />
                                                            @line
                                                        </label>
                                                    }

                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>

                    }
                    else if (item.QuestionItemType == QuestionItemType.TextArea)
                    {
                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <br />
                            <span>@item.Title</span>
                        }

                        <textarea class="form-control" name="@item.Id" rows="4">@ViewData[@item.Id.ToString(CultureInfo.InvariantCulture)]</textarea>
                    }
                    else if (item.QuestionItemType == QuestionItemType.TextBox)
                    {
                        <div class="form-group row">
                            <label for="textbox" class="col-sm-5 col-form-label" style="padding-left:20px">@item.Title</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="textbox" name="@item.Id" value="@ViewData[@item.Id.ToString(CultureInfo.InvariantCulture)]" />
                            </div>
                        </div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Rate10)
                    {

                        if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }

                        <div class="col-md-@item.Parts col-xs-@item.Parts" style="padding-left: 10px; @(i > 0 ? "margin-top: 8px;" : "")">
                            @*Wyświetalnie podpowiedzi*@

                            @*Inna podpowiedz dla jednego pytania*@
                            @{if (question.Title == "W jakim stopniu poleciłaby Pani/Pan wakacje z Grecosem swoim znajomym?")
                                {
                                    <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;">

                                        <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;">


                                        </div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                        <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                    </div>
                                }

                                else
                                {

                                    if (i < 1)
                                    {
                                        <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;">

                                            <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;">


                                            </div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                            <div class="col-xs-1 col-md-1" style="padding: 0;"></div>
                                        </div>
                                    }
                                    else
                                    { <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;">

                                            <div class="col-xs-1 visible-xs" style="padding: 0; padding-left: 5px;">


                                            </div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0; padding-left: 5px;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0;"></div>
                                            <div class="col-xs-1 visible-xs" style="padding: 0;"></div>
                                        </div>
                                    }
                                }
                            }
                            @*Koniec wyświetalnie podpowiedzi*@

                            <div class="row" style="font-size: 10px; text-align: center; white-space: nowrap;">
                                <div class="col-md-1 col-xs-1" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 0) ? @item.Items.Split('\n')[0] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 1) ? @item.Items.Split('\n')[1] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 2) ? @item.Items.Split('\n')[2] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 3) ? @item.Items.Split('\n')[3] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0; padding-left: 5px;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 4) ? @item.Items.Split('\n')[4] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 5) ? @item.Items.Split('\n')[5] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 6) ? @item.Items.Split('\n')[6] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 7) ? @item.Items.Split('\n')[7] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 8) ? @item.Items.Split('\n')[8] : string.Empty)
                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    @((item.Items != null && item.Items.Split('\n').Length > 9) ? @item.Items.Split('\n')[9] : string.Empty)
                                </div>
                            </div>
                            <div class="row" style="text-align: center; padding-left: 5px;">
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test1" value="1"
                                           @(itemValue == "1" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test2" value="2"
                                           @(itemValue == "2" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test3" value="3"
                                           @(itemValue == "3" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test4" value="4"
                                           @(itemValue == "4" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test5" value="5"
                                           @(itemValue == "5" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test6" value="6"
                                           @(itemValue == "6" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test7" value="7"
                                           @(itemValue == "7" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test8" value="8"
                                           @(itemValue == "8" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test9" value="9"
                                           @(itemValue == "9" ? "checked='checked'" : string.Empty) />

                                </div>
                                <div class="col-md-1 col-xs-1" style="padding: 0;">
                                    <input type="radio" name="@item.Id" id="test10" value="10"
                                           @(itemValue == "10" ? "checked='checked'" : string.Empty) />

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    }
                    else if (item.QuestionItemType == QuestionItemType.Date)
                    {
                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }
                        <div>
                            <div class="form-group row">
                                <label for="from" class="col-sm-2 col-form-label">
                                    from:
                                </label>
                                <div class="col-sm-1" style="padding-top: 5px">
                                    <input type="date" name="@item.Id" id="from" value="@ViewData[@item.Id.ToString(CultureInfo.InvariantCulture)]" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="to" class="col-sm-6 col-form-label" style="text-align:right">
                                    to:
                                </label>
                                <div class="col-sm-1" style="padding-top: 5px; padding-left: 25px">
                                    <input type="date" name="@(item.Id+"t")" id="to" value="@ViewData[(item.Id+"t").ToString(CultureInfo.InvariantCulture)]" />
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.QuestionItemType == QuestionItemType.Time)
                    {
                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            <div class="col-md-@(12 - item.Parts) col-xs-@(12 - item.Parts)" style="padding-left: 5px; @(i > 0 ? "margin-top: 8px;" : "padding-top: 13px")">
                                @item.Title
                            </div>
                        }
                        <div>
                            <div class="form-group row">
                                <label for="from" class="col-sm-2 col-form-label">
                                    from:
                                </label>
                                <div class="col-sm-1" style="padding-top: 5px">
                                    <input type="time" name="@item.Id" id="from" value="@ViewData[@item.Id.ToString(CultureInfo.InvariantCulture)]" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="to" class="col-sm-6 col-form-label" style="text-align:right">
                                    to:
                                </label>
                                <div class="col-sm-1" style="padding-top: 5px; padding-left: 25px">
                                    <input type="time" name="@(item.Id+"t")" id="to" value="@ViewData[(item.Id+"t").ToString(CultureInfo.InvariantCulture)]" />
                                </div>
                            </div>
                        </div>
                    }
                    i++;
                    @*@Html.ValidationMessage(item.Id.ToString(), "*Pole jest wymagane")*@
                }
            </div>
            </div>
        }


        <div style="text-align: center">
            @if (page == 1)
            {

            }
            else
            {
                <a class="btn btn-default" href="@Url.Action("Back", new { page = page, hotel = hotel })" style="border: none; color:#005EA8">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Wróć
                </a>
            }
            <button type="submit" class="btn btn-primary" style="background-color:#005EA8" value="Zapisz">
                Next Page
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    }

</div>
<div class="col-md-3"></div>
<div class="clearfix"></div>


@*</div>*@

@section Scripts {

    <script>

        $(function () {
            $('div.show1').hide();
            $('div.show2').hide();
            $('div.show3').hide();
            $('div.show4').hide();
            $('div.show5').hide();
            $('div.show6').hide();
            $('div.show7').hide();
            $('div.show8').hide();
            $('div.show9').hide();
            $('div.show10').hide();
            $('div.show11').hide();
            $('div.show12').hide();
            $('div.show13').hide();
            $('div.show14').hide();
            $('div.show15').hide();

            $('.spinner').spinner({
                spin: function (event, ui) {
                    if (ui.value > 10) {
                        $(this).spinner("value", 10);
                        return false;
                    } else if (ui.value < 0) {
                        $(this).spinner("value", 0);
                        return false;
                    }
                }
            });
        });

        $(document).on("change", "input.show1", function () {
            $('div.show1').show('slow');
        });

        $(document).on("change", "input.hide1", function () {
            $('div.show1').hide('slow');
        });

        $(document).on("change", "input.show2", function () {
            $('div.show2').show('slow');
        });

        $(document).on("change", "input.hide2", function () {
            $('div.show2').hide('slow');
        });

        $(document).on("change", "input.show3", function () {
            $('div.show3').show('slow');
        });

        $(document).on("change", "input.hide3", function () {
            $('div.show3').hide('slow');
        });

        $(document).on("change", "input.show4", function () {
            $('div.show4').show('slow');
        });

        $(document).on("change", "input.hide4", function () {
            $('div.show4').hide('slow');
        });

        $(document).on("change", "input.show5", function () {
            $('div.show5').show('slow');
        });

        $(document).on("change", "input.hide5", function () {
            $('div.show5').hide('slow');
        });

        $(document).on("change", "input.show6", function () {
            $('div.show6').show('slow');
        });

        $(document).on("change", "input.hide6", function () {
            $('div.show6').hide('slow');
        });

        $(document).on("change", "input.show7", function () {
            $('div.show7').show('slow');
        });

        $(document).on("change", "input.hide7", function () {
            $('div.show7').hide('slow');
        });

        $(document).on("change", "input.show8", function () {
            $('div.show8').show('slow');
        });

        $(document).on("change", "input.hide8", function () {
            $('div.show8').hide('slow');
        });

        $(document).on("change", "input.show9", function () {
            $('div.show9').show('slow');
        });

        $(document).on("change", "input.hide9", function () {
            $('div.show9').hide('slow');
        });

        $(document).on("change", "input.show10", function () {
            $('div.show10').show('slow');
        });

        $(document).on("change", "input.hide10", function () {
            $('div.show10').hide('slow');
        });

        $(document).on("change", "input.show11", function () {
            $('div.show11').show('slow');
        });

        $(document).on("change", "input.hide11", function () {
            $('div.show11').hide('slow');
        });

        $(document).on("change", "input.show12", function () {
            $('div.show12').show('slow');
        });

        $(document).on("change", "input.hide12", function () {
            $('div.show12').hide('slow');
        });

        $(document).on("change", "input.show13", function () {
            $('div.show13').show('slow');
        });

        $(document).on("change", "input.hide13", function () {
            $('div.show13').hide('slow');
        });

        $(document).on("change", "input.show14", function () {
            $('div.show14').show('slow');
        });

        $(document).on("change", "input.hide14", function () {
            $('div.show14').hide('slow');
        });

        $(document).on("change", "input.show15", function () {
            $('div.show15').show('slow');
        });

        $(document).on("change", "input.hide15", function () {
            $('div.show15').hide('slow');
        });


        (function ($) {
            // http://itmeze.com/2010/12/checkbox-has-to-be-checked-with-unobtrusive-jquery-validation-and-asp-net-mvc-3/
            $.validator.unobtrusive.adapters.add("mandatory", function (options) {
                options.rules["required"] = true;
                if (options.message) {
                    options.messages["required"] = options.message;
                }
            });
        }(jQuery));

        (function ($) {
            $.validator.unobtrusive.adapters.addBool("mandatory", "required");
        }(jQuery));

    </script>

}